{% comment %}
Collection template, used on collection.liquid and collection.image.liquid
{% endcomment %}

{% paginate collection.products by 60 %}
<header class="collection-section-header text-center">
  <div class="collection-filter-img">
    <img src="{{'filter.png' | asset_url}}">  

  </div>
  {%assign product_types = blank%}
  {%for block in section.blocks%}
  {%if block.settings.title == 'Product Type'%}
  {% assign paragraphs = block.settings.filter_details  %}
  {%for tag in current_tags%}
  {%if paragraphs contains tag%}
  {%assign product_types = tag%}
  {%break%}

  {% endif %}
  {%endfor%}
  {%endif%}
  {%endfor%}



  {%if current_tags != blank%}
  <h1>{{current_tags}}</h1>
  {%else%}  
  <h1>{% if collection.handle == 'all' %}All Products{% else %}{{ collection.title }}{% endif %}</h1>
  {%endif%}
  {% if collection.description != blank %}
  <div class="grid">
    <div class="grid__item">
      <div class="rte">
        {{ collection.description }}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="grid--full collection-sorting{% if section.settings.collection_sort_enable %} collection-sorting--enabled{% endif %}">
    {% if section.settings.collection_sort_enable %}
    {% include 'collection-sorting' %}
    {% endif %}
  </div>
  {%- comment -%}
  <ul class="tags tags--collection inline-list">
    <li class="col-all">
      <a href="/collections/all">All</a>
    </li>
    <li class="col-bundle">
      <a href="/collections/bundle">Bundle &amp; Save</a>
    </li>


    <!-- collection links commented out -->
    <li class="col-hands">
      <a href="/collections/hands-skin">Hands &amp; Skin</a>
    </li>
    <li class="col-lips">
      <a href="/collections/lips">Lips</a>
    </li>
    <li class="col-pet">
      <a href="/collections/pet-care">Pet Care</a>
    </li>
    <li class="col-hemp">
      <a href="/collections/hemp">CBD</a>
    </li>
    {%- endcomment -%}
  </ul>

  <script>
    $(document).ready(function() {
      var path = window.location.pathname.split("/").pop();
      var url = location.pathname;
      if ( path == 'all' ) {
        $(".col-all").attr("class","tag--active");
      }
      if(url.indexOf('hands-skin') > -1) {
        $(".col-hands").attr("class","tag--active");
      }
      if(url.indexOf('lips') > -1) {
        $(".col-lips").attr("class","tag--active");
      }
      if(url.indexOf('hemp') > -1) {
        $(".col-hemp").attr("class","tag--active");
      }
      if(url.indexOf('pet-care') > -1) {
        $(".col-pet").attr("class","tag--active");
      }
      if(url.indexOf('bundle') > -1) {
        $(".col-bundle").attr("class","tag--active");
      }
      // if(url.indexOf('apparel') > -1) {
      //   $(".col-apparel").attr("class","tag--active");
      // }
    });
  </script>
</header>
<div class="collection-template">
  {% if section.settings.collection_products_grid == 'collage' %}
  <div class="grid-uniform">
    {% assign grid_item_width = 'medium--one-third large--one-third' %}
    {% for product in collection.products %}
    {% include 'grid-product-item-collection' %}
    {% else %}
    {% if collection.handle == 'all' %}
    {% comment %}
    Add default products to help with onboarding for collections/all only
    {% endcomment %}
    {% include 'onboarding-featured-products' %}
    {% else %}
    {% comment %}
    If collection exists but is empty, display message
    {% endcomment %}
    <div class="grid__item text-center">
      <p>{{ 'collections.general.no_matches' | t }}</p>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% elsif section.settings.collection_products_grid == 'grid' %}
  <div class="grid">
    <div class="grid__item one-quarter" id="filters">
      <div class="grid-uniform" style="margin-left: 0px">
        <div class="mobile-filter-header">
          <div class="collection-filter-img">
            <img src="{{'filter.png' | asset_url}}">
          </div>
          <div class="header-text">
            <p> Filter By</p></div>
          <div id="close"> <p>&#10006</p></div>



        </div>
        {%for block in section.blocks%}
        <div class="collection-filter" data-temp="{{collection.all_tags}}">
          <h2 >{{block.settings.title}}<span>&#8722;</span></h2>
          <div>

            <div class="more-detail" onClick="updateCollection('{{ collection.url }}')">
              <input type="radio" id="All" name="collection_filter" value="All" {% if current_tags contains "all" %} checked="checked"{%endif%}>
              <label for="All">All</label><br>
            </div>

            {% assign paragraphs = block.settings.filter_details  %}
            {% for tag in collection.all_tags %}
            {%if paragraphs contains tag%}
            {%unless tag == 'all'%}
            <div class="more-detail" onClick="updateCollection('{{ tag | handleize | prepend:'/' | within: collection }}')">
              <input type="radio" id="{{tag}}" name="collection_filter" value="{{tag}}" {% if current_tags contains tag %} checked="checked"{%endif%}>
              <label for="{{tag}}">{{tag}}</label><br>
            </div>
            {% endunless%}
            {% endif %}
            {%endfor%}
          </div>
        </div>


        {%endfor%}
      </div></div>
    <div class="grid__item three-quarters collection-products-wrapper">

      <div class="grid-uniform">
        {% assign grid_item_width = 'medium--one-third large--one-third' %}
        {% for product in collection.products %}
        {% include 'grid-product-item-collection' %}
        {% else %}
        {% if collection.handle == 'all' %}
        {% comment %}
        Add default products to help with onboarding for collections/all only
        {% endcomment %}
        {% include 'onboarding-featured-products' %}
        {% else %}
        {% comment %}
        If collection exists but is empty, display message
        {% endcomment %}
        <div class="grid__item text-center">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
        {% endif %}
        {% endfor %}
      </div></div>
  </div>



  {% endif %}
</div>
{% if paginate.pages > 1 %}
{% include 'pagination' %}
{% endif %}

{% endpaginate %}

<script>



  {%if current_tags  != blank%}

  document.addEventListener("DOMContentLoaded", function(){
    if(window.pageYOffset == 0){
      setTimeout( function(){
        $('html, body').animate({
          scrollTop: $("#CollectionSection").offset().top - 100
        }, 1500);
      }, 3000);

    }
  });

  {%endif%}



  $( ".collection-filter-img" ).click(function() {
    $("#filters").addClass("filter-display");
  });

  $( "#close" ).click(function() {
    $("#filters").removeClass("filter-display");
  });




</script>

<style>
  .collection-filter > div{
    max-height: none;
    height: 0
  }
  
  .loging_data {
    opacity: 0.4;
}
  
</style>