<!-- /templates/product.liquid -->
<style>
  .main-content .wrapper
  {
    padding:0px;
    margin:0px;
    max-width:1920px;
  }
</style>
{% comment %}
The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
{% section 'product-template' %}
{% section 'related-products' %}
{%comment%}
<div class="product-single__bottom">
    <div class="grid">
        <div class="grid__item large--five-twelfths medium--five-twelfths pdp-about">
            <h2><span>Bag Balm</span>Works Wonders</h2>
            <p>Vermont’s original Bag Balm provides relief for dry, cracked skin, hands, lips, knees, feet – you name it!</p>

            <p>Since 1899, Bag Balm has been intensely moisturizing and helping protect skin with four simple ingredients – even in the toughest conditions. Bag Balm works wonders for the whole family – for dry paws, it’s a dog’s best friend.</p>

            <p>A small amount of Bag Balm applied to your lips, face, hands, cuticles, feet, elbows, knees or anywhere inbetween works hard to moisturize and soften your severely dry skin.</p>
        </div>
        <div class="grid__item large--seven-twelfths medium--seven-twelfths">
            <img src="https://cdn.shopify.com/s/files/1/0108/4823/9675/files/pdp_branded.jpg?10" alt="" />
        </div>
    </div>
</div>
{%endcomment%}
<div style="clear:both;"></div>
<div style="clear:both;"></div>

<div style="clear:both;"></div>
<div style="clear:both;"></div><div id="opinew-reviews-product-page-code" class="">
    <span id="opinew-plugin" data-server-address="https://www.opinew.com" data-opw-prodreviews="{{ product.metafields.opinew_metafields['product_plugin'] }}" data-opinew-shop-id="{{ shop.id }}" data-shop-url="{{shop.domain}}" data-platform-product-id="{{product.id}}">
     <span id="opinew_product_plugin_app"></span>
    </span></div>

{% render 'product_infox' %}

<script type="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
<style>
  #opinew-reviews-product-page-code .summary-card-container.opw-mx-1
  {
    margin-top:0px !important;
  }
  #opinew-reviews-product-page-code .opw-py-4
  {
    margin-bottom:0px !important;
  }
</style>


<!-- LiveConnect Tag -->
<!-- Please implement this tag on your add to cart page. -->
<script type="text/javascript">
window.liQ = window.liQ || [];
window.liQ.push({
  	"event": "addToCart",
	"email": "{{ customer.email }}",
	"items": [
        {
            "id": "{{ product.id }}",
            "price": "{{ product.price|money_without_currency }}"
    	}
	]
});
</script>